<% include head %>
<body>
<% include header %>
<nav class='navbar'>
  <p>
    <% if(typeof data.firstname != 'undefined') { %>
      <span class='navbar-brand mb-0 h1' style='margin-right: 0;'><%= data.firstname %><% } if(typeof data.lastname != 'undefined') { %>
       <%= data.lastname %>
    <% } %></span><% if(typeof data.rankname != 'undefined') { %>
      <span class='navbar-brand mb-0 d-lg'> : <%= data.rankname %></span>
    <% } %></p>

  <% if(typeof currentRank != 'undefined') { %>
    <p>
      <span class='navbar-brand mb-0 d-lg'>Viewing <%= currentRank %> Belt Curriculum</span>";
    </p>
  <% } %>

    <p class='logout navbar-brand mb-0' id="logout" style="cursor: pointer;">Logout <i class='fas fa-sign-out-alt'></i></p>
</nav>

<main>
  <div class="student-main">
        <div class="curriculum-menu">
            <div class="responsive-curriculum-menu">
                <p>Curriculum Categories</p>
                <i class="fa fa-caret-down" aria-hidden="true"></i><i class="fa fa-caret-up" aria-hidden="true"></i>
            </div>
            <div class="white-stripe stripe" onclick="getCurriculum(1,<%= data.rankid %>)">Basic Techniques</div>
            <div class="yellow-stripe stripe" onclick="getCurriculum(2,<%= data.rankid %>)">Board Breaking</div>
            <div class="green-stripe stripe" onclick="getCurriculum(3,<%= data.rankid %>)">Kicks</div>
            <div class="blue-stripe stripe" onclick="getCurriculum(4,<%= data.rankid %>)">Forms</div>
            <div class="red-stripe stripe" onclick="getCurriculum(5,<%= data.rankid %>)">Self-Defense</div>
            <div class="black-stripe stripe" onclick="getCurriculum(6,<%= data.rankid %>)">Sparring</div>
        </div><div class="curriculum-main" style="margin-top:0;">
            <h2 class="student-welcome">Welcome<%
                if (typeof data.gender != 'undefined') {
                  if(data.gender == 'm') { %>, sir<%
                  } else if (data.gender == 'f') { %>, ma'am <%
                  }
                }
                %>!</h2>

            <p class="student-welcome">Use the dropdown menu to the right to select a belt and the menu to the left to review the curriculum you will be tested on for your next test.</p>
        </div>
    </div>
</main>
<% include footer %>
</body>
