<% include head %>
<body>
<% include header %>
<nav class='navbar'>
  <p><% if(typeof student.lastname != 'undefined') { %>
      <span class='navbar-brand mb-0 d-lh' style='margin-right: 0;'><%= student.firstname + " " + student.lastname %></span>
      <span class='navbar-brand mb-0 d-lg'> : <%= student.rankname %></span>
    <% } else { %>
      <span class='navbar-brand mb-0 h1' style='margin-right: 0;'><%= student.firstname %></span><span class='navbar-brand mb-0 d-lg'> : <%= student.rankname %></span>
    <% } %>
  </p>

  <% if (typeof ranks != 'undefined') { %>
    <div class='navbar-brand mb-0'>
      <span>Currently Viewing: </span>
      <select id='rankSelect'>
        <% ranks.forEach(function(rank) { %>
          <option value=<%= rank.rankid %>><%= rank.rankname %></option>
        <% }); %>
      </select>
    </div>
  <% } %>

    <p class='logout navbar-brand mb-0' id="logout" style="cursor: pointer;">Logout <i class='fas fa-sign-out-alt'></i></p>
</nav>

<main>
  <div class="student-main">
        <div class="curriculum-menu">
            <div class="responsive-curriculum-menu">
                <p>Curriculum Categories</p>
                <i class="fa fa-caret-down" aria-hidden="true"></i><i class="fa fa-caret-up" aria-hidden="true"></i>
            </div>
            <div class="white-stripe stripe" onclick="getCurriculum(1,<%= student.rankid %>)">Basic Techniques</div>
            <div class="yellow-stripe stripe" onclick="getCurriculum(2,<%= student.rankid %>)">Board Breaking</div>
            <div class="green-stripe stripe" onclick="getCurriculum(3,<%= student.rankid %>)">Kicks</div>
            <div class="blue-stripe stripe" onclick="getCurriculum(4,<%= student.rankid %>)">Forms</div>
            <div class="red-stripe stripe" onclick="getCurriculum(5,<%= student.rankid %>)">Self-Defense</div>
            <div class="black-stripe stripe" onclick="getCurriculum(6,<%= student.rankid %>)">Sparring</div>
        </div><div class="curriculum-main">
          <h2 class="student-welcome">Welcome<%
            if (typeof student.gender != 'undefined') {
              if(student.gender == 'm') { %>, sir<%
              } else if (student.gender == 'f') {
                %>, ma'am<%
              }
            }
          %>!</h2>

          <p class="student-welcome">Use the dropdown menu to the right to select a belt and the menu to the left to review the curriculum you will be tested on for your next test.</p>

          <% if(typeof fitness != 'undefined') { %>
            <h3 class='student-welcome'>Physical Fitness</h3>
            <p class='student-welcome'>These are your stats from the last physical fitness test.</p>
            <table class='curriculum-fitness student-welcome'>
              <tr>
                <th>Pushups: <%= fitness.pushupsstyle %></th>
                <td class='fitness-noedit pushups'><%= fitness.pushups %></td>
                <td class='fitness-edit'><input name='pushups' id='pushups'></td>
              </tr>
              <tr>
                <th>Leg Raises: <%= fitness.legraisesstyle %></th>
                <td class='fitness-noedit legraises'><%= fitness.legraises %></td>
                <td class='fitness-edit'><input name='legraises' id='legraises'></td>
              </tr>
              <tr>
                <th>Pullups: <%= fitness.pullupsstyle %></th>
                <td class='fitness-noedit pullups'><%= fitness.pullups %></td>
                <td class='fitness-edit'><input name='pullups' id='pullups'></td>
              </tr>
              <tr>
                <th>Jumps: <%= fitness.jumpsstyle %></th>
                <td class='fitness-noedit jumps'><%= fitness.jumps %></td>
                <td class='fitness-edit'><input name='jumps' id='jumps'></td>
              </tr>
              <tr>
                <th class='fitness-noedit'>Roundhouse Kicks (<span class='roundtime'><%= fitness.roundtime %></span> seconds per leg)</th>
                <th class='fitness-edit'>Roundhouse Kicks (<input name='roundtime' id='roundtime'> seconds per leg)</th>
                <td class='fitness-noedit'>R-<span class='roundright'><%= fitness.roundright %></span> / L-<span class='roundleft'><%= fitness.roundleft %></span></td>
                <td class='fitness-edit'>R-<input name='roundright' id='roundright'> / L-<input name='roundleft' id='roundleft'></td>
              </tr>
              <tr>
                <th>Stretch Test: <%= fitness.stretchstyle %></th>
                <td class='fitness-noedit stretch'><%= fitness.stretch %>"</td>
                <td class='fitness-edit'><input name='stretch' id='stretch'>"</td>
              </tr>
            </table>

            <button class="fitness-noedit btn btn-primary student-welcome" id="editFitness">Edit Fitness Stats</button>
            <button class="fitness-edit btn btn-primary student-welcome" id="saveFitness">Save Fitness Stats</button>
            <button class="fitness-edit btn btn-danger student-welcome" id="cancelFitness">Cancel</button>
          <% } %>
        </div>
    </div>
</main>
<% include footer %>
</body>
